/* NAVBAR STYLING */
/* ---------------------------------------------------------------------------------------------------- */
.navbar{
    padding: 0;
    background-color: rgba(0,0,0,0);
}

.navbar-brand{
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(20,20,20), rgb(90,90,90));
    height: 100%;
    margin: 0;
}

.navbar-toggler{
    width: 100%;
    border: none;
    background-image: linear-gradient(to top, rgb(20,20,20), rgb(90,90,90));
    border-radius: 0;
    height:100%;
}

.navbar-toggler:focus{
    outline: 0;
}

.navbar-collapse{
    background-image: radial-gradient(ellipse farthest-side, rgba(80,20,20, 0.3), rgba(250, 40, 40, 0.9) 120%)!important;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}   

.nav-link{
    text-align: center;
    color: rgba(255,255,255,0.8)!important;
}

/* ---------------------------------------------------------------------------------------------------- */



body{
    margin-top: 71px;
    background-color: gray;
    height: 1000px;
}