.video-background {
    background: #000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99;
    height: 100vh;
    width: 100vh;
}
.video-background::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.75)
}
.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}