/* Profile image */
.aboutMe-image{
    max-width: 200px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}