<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="index.html" class="navbar-brand">Alec Greene</a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="portfolio.html" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a href="resume.html" class="nav-link">Resume</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>