/* Page styling */
.assignments-section-title{
    font-size: 50px;
}

/* Project styling */
.project-link{
    text-decoration: none;
    color: rgb(172, 33, 33);
}

/* Accordion styling */
.card{
    border: 0;
    padding: 0;
    border-radius: 0;
    margin: 0;
    background-clip: content-box;
}

.card-header{
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
}

#assignments-accordion{
    height: max-content;
}

.assignments-accordion-button{
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(107, 107, 107),rgb(145, 145, 145), rgb(119, 119, 119),rgb(107, 107, 107));
    color: rgb(37, 37, 37);
}

.assignments-accordion-button:focus{
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(107, 107, 107),rgb(145, 145, 145), rgb(119, 119, 119),rgb(107, 107, 107));
    color: rgb(37, 37, 37);
}

button>h5{
    font-weight: bold;
    margin-right: 15px;
}

.assignments-accordion-body{
    background-color: transparent;
    background-image: linear-gradient(to top,rgb(116, 13, 13),rgb(179, 27, 27),rgb(116, 13, 13));
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.assignments-accordion-link{
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.assignments-accordion-link:hover{
    text-decoration: none;
    color: rgb(37, 37, 37);
    transition: ease-in-out 0.3s all;
    box-shadow: 0 0.15rem red;
}