.navbar{
    padding: 0;
    background-color: rgb(41, 41, 41);
}

.navbar-toggler{
    border: none; 
    width: 100%;
}

.navbar-brand{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(102, 0, 0), rgb(221, 0, 0), rgb(102, 0, 0));
}

.navbar-nav{
    padding: 0 0 0.5rem 0;
}

.nav-link{
    text-align: center;
    width: 100%;
}

/* Container stylings */
.body{
    width: 100%;
    height: 100vh;
}

#document-body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(185, 185, 185);
    padding: 4rem 2rem 2rem 2rem;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    /* Add parallax background */
    .body{  
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, rgb(65,65,65), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(65, 65, 65));
    }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    /* Adjust navbar styles */
    .navbar-brand{
        height: 100%;
        padding: 0.75rem 0.5rem 0.75rem 0.5rem;
        width: min-content;
    }

    .navbar-collapse{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-nav{
        padding: 0;
    }

    .nav-link{
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        z-index: 3;
    }

    .nav-link:hover{
        transition: ease-in-out 0.3s all;
        box-shadow: 0 0.1rem red;
    }

    .nav-item{
        padding: 0 0.5rem 0 0.5rem;
    }

    /* Mega Menu styles */    

    .megamenu-col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .megamenu{
        background-color: rgb(41, 41, 41);
        left: auto;
        right: 0;
        margin-left: 15px;
        width: max-content; 
        padding:20px; 
        z-index: 1; 
    }

    .dropdown-header{
        text-align: center;
    }

    .dropdown-item {
        text-align: center;
        color: rgba(255,255,255,.5);
        width: max-content;
    }

    .dropdown-item:hover{
        text-align: center;
        background-color: rgb(41, 41, 41);
        width: min-content;
        color: #FFF;
        transition: ease-in-out 0.3s box-shadow;
        box-shadow: 0 0.1rem red;
    }

 }
