#NavBar {
    width: 100vw;
    height: 7.5vh;
    background-color: rgba(20,20,20,1);
    color: rgba(170,170,170,1);
    padding: 0;
}

#HeaderContainer {
    padding: 0 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Nav Toggler */
#Toggler {
    background-color: transparent;
    border: none;
    text-align: center;
    color: rgba(170,170,170,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#TogglerIcon {
    color: rgba(170,170,170,1);
}

#Toggler:focus {
    outline: none;
}


/* Nav Buttons */
.active {
    color: rgba(210, 0 , 0, 1);
}

#NavButtonContainer {
    background-color: rgba(20,20,20,1);
    color: rgba(170,170,170,1);
    width: 100%;
}

#NavButtonWrapper {
    width: 100%;
    padding: 0;
}

.navButtonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.navButton {
    background-color: transparent;
    border: none;
    text-align: center;
    color: rgba(170,170,170,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0 0.5rem;
}

.navButtonText {
    text-align: center;
}

#ContactButton {
    background-color: transparent;
    border: none;
    color: rgba(170,170,170,1);
    text-align: center;
    font-size: 16pt;
}

/* Large devices (Deskktop, 992px and up) */
@media (min-width: 992px) { 
    #Toggler{
        display: none;
    }

    #HeaderContainer {
        width: 25%;
        justify-content: center;
    }

    #NavButtonContainer{
        width: 75%;
        height: 100%;
    }

    #NavButtonWrapper {
        height: 100%;
    }

    .navButtonRow {
        width: 100%;
        height: 50%;
        background-color: rgba(20,20,20,1);
    }

    #CategoryRow {
        overflow: hidden;
        height: 100%;
    }

    #PageRow {
        height: fit-content;
    }

    .customCollapse {
        display: none;
    }
}