#App {
  height: 100%;
  width: 100vw;

}

#Wrapper {
  flex: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(40,40,40,1);
  color: rgba(170,170,170,1);
}

.contactModal {
  background-color: rgba(110,0,0,0.75);
  z-index: 9999;
  color: rgba(170,170,170,1);
}

.contactModalHeader {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactModalBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactModalList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.contactModalListItem {

}

.contactModalListLink {
  color: rgba(170,170,170,1);
  text-decoration: none;
  cursor: pointer;
}

.contactModalListLink:hover {
  color: rgba(120,120,120,1);
  text-decoration: none;
  cursor: pointer;
}